<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
        <meta charset="utf-8">
        <title>Word Counter</title>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Word Repeat Counter</h1>
                <h3>Input a word and a group of words, and I'll tell you how many times that word  was used!</h3>
            </div>
            <form class="" action="/results" method="get">
                <label for="word">Enter the word you want to test against:</label>
                <input type="text" name="word" id="word">
                <br>
                <label for="paragraph">Enter a paragrah of words:</label>
                <input type="text" name="paragraph" id="paragraph">
                <br>
                <button type="submit" name="button" class="btn btn-success">Calculate Word Repeat!</button>
            </form>
        </div>
    </body>
</html>
